In [3]:
import pandas as pd
#pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_csv('Lottery_Mega_Millions_Winning_Numbers__Beginning_2002.csv')
df

       Draw Date Winning Numbers  Mega Ball  Multiplier
0     09/25/2020  20 36 37 48 67         16         2.0
1     09/29/2020  14 39 43 44 67         19         3.0
2     10/02/2020  09 38 47 49 68         25         2.0
3     10/06/2020  15 16 18 39 59         17         3.0
4     10/09/2020  05 11 25 27 64         13         2.0
...          ...             ...        ...         ...
2148  12/27/2022  09 13 36 59 61         11         2.0
2149  12/30/2022  01 03 06 44 51          7         3.0
2150  01/03/2023  25 29 33 41 44         18         4.0
2151  01/06/2023  03 20 46 59 63         13         3.0
2152  01/10/2023  07 13 14 15 18          9         3.0

[2153 rows x 4 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2153 entries, 0 to 2152
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Draw Date        2153 non-null   object
 1   Winning Numbers  2153 non-null   object
 2   Mega Ball        2153 non-null   int64
 3   Multiplier       1250 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 67.4+ KB

In [6]:
df.shape

(2153, 4)

In [7]:
#replace the spaces between the column names with "_" using rename function
df.columns = df.columns.str.replace(' ','_')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2153 entries, 0 to 2152
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Draw_Date        2153 non-null   object
 1   Winning_Numbers  2153 non-null   object
 2   Mega_Ball        2153 non-null   int64
 3   Multiplier       1250 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 67.4+ KB

In [8]:
#Convert to datetime type
df['Draw_Date'] = pd.to_datetime(df['Draw_Date'])

In [9]:
df.isna().sum()

Draw_Date            0
Winning_Numbers      0
Mega_Ball            0
Multiplier         903
dtype: int64

In [10]:
df.Mega_Ball.unique()

array([16, 19, 25, 17, 13, 12, 10, 22,  1, 11,  2,  7,  6, 14,  8, 15,  5,
       21,  4,  9, 24,  3, 18, 20, 23, 46, 38, 33, 34, 31, 28, 37, 40, 41,
       39, 42, 30, 26, 36, 43, 35, 44, 29, 32, 27, 45, 47, 50, 48, 52, 49,
       51])

In [11]:
df = df[df['Mega_Ball'] <= 25]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1590 entries, 0 to 2152
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Draw_Date        1590 non-null   datetime64[ns]
 1   Winning_Numbers  1590 non-null   object
 2   Mega_Ball        1590 non-null   int64
 3   Multiplier       1108 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 62.1+ KB

In [30]:
df["Mega_Ball"].value_counts().sort_index().to_frame('count')

    count
1      74
2      67
3      78
4      77
5      60
6      77
7      81
8      65
9      84
10     86
11     76
12     68
13     78
14     67
15     81
16     38
17     44
18     46
19     50
20     47
21     53
22     58
23     36
24     52
25     47

In [ ]:
df[['pick_1','pick_2','pick_3','pick_4','pick_5']] = df['Winning_Numbers'].str.split(' ', expand=True)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
list(df.columns.values)

In [ ]:
df = df[['Draw_Date',
         'Winning_Numbers',
         'pick_1',
         'pick_2',
         'pick_3',
         'pick_4',
         'pick_5',
         'Mega_Ball',
         'Multiplier']]
df

In [ ]:
df.info()

In [ ]:
df['Winning_draw']= df[['pick_1','pick_2','pick_3','pick_4','pick_5']].values.tolist()
df

In [ ]:
df['Winning_draw'] = df['Winning_draw'].apply(lambda x: sorted(x))

In [ ]:
df

In [ ]:
df[df['Mega_Ball'].duplicated()]

In [ ]:
df.Mega_Ball.unique()

In [ ]:
df1 = df[df['Mega_Ball'] >= 25]

In [ ]:
df1